@model IEnumerable<CourseListingServiceModel>

@{
    ViewData["Title"] = "Active Courses";
}

<div class="jumbotron home-jumbotron">
    <h1 class="text-center">Welcome to our Learning System!</h1>
</div>

<div class="row">
    @foreach (var course in this.Model)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@course.Name</h3>
                </div>
                <div class="panel-body">
                    <img height="200" src="http://thecatapi.com/api/images/get?format=src&type=gif&guid=@{Guid.NewGuid();}" class="img-responsive"/>
                    @course.StartDate.ToShortDateString() - @course.EndDate.ToShortDateString()
                </div>
            </div>
        </div>
    }
</div>