@import "http://fonts.googleapis.com/css?family=Open+Sans";

body {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background-color: #1d211e;
    font-size: 22px;
}

nav {
    background-color: #e67c1f;
    text-align: center;
}

ul {
    background-color: #e67c1f;
    padding: 0;
    margin: 0;
    position: relative;
}

li {
    display: inline-block;
    padding: 15px;
}

a {
    display: block;
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    background-color: black;
}

.dropdown-first, .dropdown-second {
    display: none;
}

#web-design {
    position: relative;
}

#web-design:hover .dropdown-first {
    display: block;
    top: 50px;
    position: absolute;
}

#tutorials:hover .dropdown-second {
    display: block;
    top: 135px;
    left: 155px;
    position: absolute;
}