@import url("https://www.google.com/fonts#UsePlace:use/Collection:Vollkorn");

* {
    font-family: "Vollkorn", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 1200px;
}

article {
    padding: 0 1px 0 10px;
}

h3 {
    color: #72aeb4;
}

span {
    font-style: italic;
}

a {
    color: #72aeb4;
}

img {
    float: left;
    width: 300px;
    padding-right: 10px;
    border: 1px solid lightgrey;
}