.slider {
    position: relative;
    width: 90%;
    margin: auto;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
    text-align: center;
}
img {
    display: inline-block;
}
.slider-arrow {
    position: absolute;
    top: 40px;
    width: 20px;
    height: 20px;
    background: black;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.sa-left {
    left: 10px;
}
.sa-right {
    right: 10px;
}