body {
  margin: 0;
  padding: 0;
  background: #ccc;
}
nav#topmenu ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav#topmenu li {
  font-size: 24px;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  padding: 20px;
}
nav#topmenu a {
  text-decoration: none;
  color: #fff;  
}