@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #333333;
	margin: 0px;
	padding: 0px;
}

header {
	background: url('images/car-future.jpg') no-repeat center;
	background-size: cover;
	height: 700px;
}

header h1 {
	font-size: 80px;
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 80px 0 0 20px;
	font-weight: 900;
	color: #b38575;
	text-transform: uppercase;
}

nav {
	margin: 20px;
	float: right;
}

nav ul {
	margin: 0;
	padding: 7px;
	height: 20px;
	line-height: 20px;
}

nav ul li {
	display: inline-block;
}

nav a {
	text-transform: uppercase;
}

a, a:link, a:active, a:visited {
	color: #333;
	padding: 5px 7px 10px 7px;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #b38575;
}

section {
    text-align: justify;
}

content {
	padding-left: 25px;
	padding-right: 25px;
	text-align: justify;
}

content article {
	margin-bottom: 20px;
}

article img {
	width: 350px;
	height: 260px;
	margin-right: 15px;
	float: left;
}

article p {
	font-size: 18px;
	color: #333333;
	margin: 0px;
	padding: 20px;
}

article p:first-of-type:first-letter {
	font-size: 32px;
	color: #b38575;
	font-style: bold;
	text-transform: uppercase;
}

article h2 {
	font-weight: 900;
	color: #b38575;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.content article:after {
	content: '';
	display: block;
	clear: both;
}

footer {
	background-color: #ccc;
}

footer span {
	text-align: center;
	display: block;
	padding: 10px;
	color: #333333;
}