@{
    ViewData["Title"] = "All";
}

<h2>All</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Birth date</th> 
            <th>Is young driver</th>
        </tr>
    </thead>
<tbody>            
    @foreach (var customer in this.Model)
    {
        <tr>
            <td>@customer.Name</td>
            <td>@customer.BirthDate</td>
            <td>@customer.IsYoungDriver</td>
            <td><a class="btn btn-warning btn-sm" href="/customers/edit/@customer.Id">Edit</a></td>
        </tr>
    }
    </tbody>
</table>