@using CarDealer.Web.Services.Models.Customers
@model CarDealer.Web.Services.Models.Customers.CustomerFormModel
@{
    ViewData["Title"] = "Create Customer";
}

<h2>Create</h2>

<div class="row">
    <div class="col-md-4">
        @Html.Partial("_CustomerForm", this.Model)
    </div>
</div>