@{ 
    ViewData["Title"] = "User Administration";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in this.Model.Users)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>
                    <form asp-controller="Users" asp-action="AddToRole" method="post">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="hidden" name="UserId" value="@user.Id" />
                                <select name="Role" asp-items="Model.Roles" class="form-control"></select>
                            </div>
                            <div class="col-md-3">
                                <input class="btn btn-sm btn-primary" type="submit" value="Add to Role" />
                            </div>
                        </div>             
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>