table, td, tr, th {
  border: 1px solid #000000;
}

td {
  padding-left: 5px;
}

.bold {
  font-weight: bold;
  text-align: center;
}

.result {
  width: 400px;
  text-align: right;
  padding-right: 5px; 
}